﻿@model StandTestDiego.Models.Cliente

@{
    ViewData["Title"] = "Excluir o cliente";

    var item = Model;
}

<h1>Excluir cliente</h1>

<h3>Você tem certeza que deseja excluir este cliente?</h3>
<hr />

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Razao_social)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Razao_social)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_fundacao)
        </dt>
        <dd class="col-sm-10">
            @item.Data_fundacao.ToString("dd/MM/yyyy")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capital)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quarentena)
        </dt>
        <dd class="col-sm-10">
            @if (item.Quarentena.Equals(true))
            {
                <text>Sim</text>
            }
            else
            {
                <text>Não</text>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status_cliente)
        </dt>
        <dd class="col-sm-10">
            @if (item.Status_cliente.Equals(true))
            {
                <text>Ativo</text>
            }
            else
            {
                <text>Inativo</text>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classificacao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Retornar a lista de clientes</a>
    </form>
</div>
