﻿@model StandTestDiego.Models.Cliente

@{
    ViewData["Title"] = "Edição de cliente";
}

<h1>Editar cliente</h1>
<p class="text-right">*Campos obrigatórios</p>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                *<label asp-for="Razao_social" class="control-label"></label>
                <input asp-for="Razao_social" class="form-control" />
                <span asp-validation-for="Razao_social" class="text-danger"></span>
            </div>
            <div class="form-group">
                *<label asp-for="Cnpj" class="control-label"></label>
                <input asp-for="Cnpj" class="form-control" />
                <span asp-validation-for="Cnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                *<label asp-for="Data_fundacao" class="control-label"></label>
                <input asp-for="Data_fundacao" class="form-control" />
                <span asp-validation-for="Data_fundacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                *<label asp-for="Capital" class="control-label"></label> R$
                <input asp-for="Capital" class="form-control" />
                <span asp-validation-for="Capital" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status_cliente" type="radio" value="true" /> Ativo
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input" asp-for="Status_cliente" type="radio" value="false" /> Inativo
                    <span asp-validation-for="Status_cliente" class="text-danger"></span>
                </label>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar a lista de clientes</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
