﻿@model IEnumerable<StandTestDiego.Models.Cliente>

@{
    ViewData["Title"] = "Página inicial";
}

<h1 class="text-center">Cadastro de Clientes</h1>

<p>
    <a asp-action="Create">Novo Cliente</a>
</p>

<form asp-controller="Clientes" asp-action="Index" method="get">
    <p>
        Razão Social: <input type="text" name="SearchRS" />
        &nbsp;&nbsp;&nbsp;&nbsp;

        CNPJ: <input type="text" name="SearchCNPJ" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <input type="radio" name="SearchStatus" value="T" /> Ativo
        &nbsp;&nbsp;&nbsp;&nbsp;

        <input type="radio" name="SearchStatus" value="F" /> Inativo

        <div class="text-right">
            <input type="submit" value="Pesquisar" />
        </div>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Razao_social)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_fundacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status_cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Razao_social)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cnpj)
                </td>
                <td>
                    @item.Data_fundacao.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capital)
                </td>
                <td>
                    @if (item.Status_cliente.Equals(true))
                    {
                        <text>Ativo</text>
                    }
                    else
                    {
                        <text>Inativo</text>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
